# Packages
node_modules

# Config
config.json
*.log
ecosystem.config.js
ecosystem.config.js_cluster
ecosystem.config.js_fork

app/start.sh
html/norton*.html
.vscode

# Data
etl/
etl/cache/*
etl/images/*
etl/*.geojson
etl/**/*.csv
etl/**/*.txt
etl/**/*.xls
etl/**/*.xlsx
etl/**/*.zip
etl/**/*.gml
etl/**/*.gz
etl/**/5690395*
postgresdata
*/__pycache__/*

.DS_Store

# Cache
app/tilecache/**/*.png
app/tilecache/**/*.mbtiles

# Cache
# to avoid undefined cached tiles will be pushed to remote repository after tile rendering problems
app/undefined/**/*.png
app/undefined/**/*.mbtiles


app/Readme.txt

# Notes
TODO

# VM
.vagrant
