/**
 * Welcome jumbotron
 */
.welcome.section-body {
    padding-bottom: 0;
}

.image-row {
    margin: 1em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.image-row img {
    margin: 0 1em;
    max-height: 100%;
    max-width: 100%;
    align-self: flex-start;
}

.cl-logo {
    height: 4em;
}

.turing-logo {
    height: 4em;
}

.image-row a .wid-logo {
    /* height: 3em; */
    width: 60%;
    height: auto;
    /* center the logo */
/*     display: block;
    margin-left: auto;
    margin-right: auto; */



}