/**
 * Welcome jumbotron
 */
/* @media(min-width:735px) {
    .welcome.section-body {
        padding-bottom: 0;
    }        
} */

.background-welcome.section-header {
    background: linear-gradient(135deg,
        #f7c625 10%,
        #f7ec25 10% 18%,
        #f77d11 18% 26%,
        #ab8fb0 26% 34%,
        #ff6161 34% 42%,
        #f2a2b9 42% 50%,
        #718899 50% 58%,
        #7cbf39 58% 66%,
        #57c28e 66% 74%,
        #6bb1e3 74% 82%,
        #aaaaaa 82% 90%,
        #a3916f 90%);
}

/* .welcome.section-body {
    padding: 0.75rem 0.75em 4rem 0.75em;
} */

.image-row {
    margin: 1em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.image-row img {
    margin: 0 1em;
    max-height: 100%;
    max-width: 100%;
    align-self: flex-start;
}

.cl-logo {
    height: 4em;
}

.turing-logo {
    height: 4em;
}

.image-row a .wid-logo {
    /* height: 3em; */
    width: 60%;
    height: auto;
    /* center the logo */
/*     display: block;
    margin-left: auto;
    margin-right: auto; */



}

#welcome .edit-history-first {
    display: none;
}

#welcome .section-header .h2 {
    flex-basis: 100%;
    font-weight: bold;
    text-align: center;
}
#welcome .section-header .section-header-actions {
    display: none;
    flex-basis: 0%;
}

@media (max-width: 734px) {
    #welcome .section-header .h2 {
        font-size: 1.5rem;
    }
}