/**
 * Map legend
 */
 .map-legend {
    position: absolute;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    background: white;
}

.map-legend .logo {
    display: none;
}
@media (min-width: 990px) {
    .map-legend .logo {
        display: block;
    }
}

/* Prevent legend from overlapping with attribution */
/* @media(min-width: 392px) {
    .map-legend {
        bottom: 2.5rem;
    }
} */
@media (min-width: 760px){
    .map-legend {
        bottom: 1.5rem;
    }
}
@media (min-width: 990px) {
    .map-legend {
        bottom: 2.5rem;
    }
}
@media (min-width: 1129px){
    .map-legend {
        bottom: 1.5rem;
    }
}

.map-legend .style-select {
    background-color: inherit;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
    width: auto;
    border: 1px solid;
    border-radius: 4px;
}

.map-legend p,
.data-legend {
    padding: 0 0.5rem 0.5rem 0.5rem;
}
.map-legend .h4 {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.25rem;
}
.map-legend p {
    margin: 0.25rem 0 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

.map-legend .legend-disclaimer {
    font-size: 0.8em;
    padding:0;
}
.data-legend {
    overflow: auto;
    list-style: none;
    margin-bottom: 0;
    flex: 1;
}

.data-legend li {
    display: flex;
}

.data-legend .key {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.3rem;
    vertical-align: middle;
    overflow: hidden;
    border: solid 1px #ddd;
    flex-shrink: 0;
}

.data-legend h6 {
    margin-top: 5px;
}
.map-legend .data-intro {
    padding: 0 0.5rem;
    opacity: 0.5;
}
.expander-button {
    display: inline-block;
    position: absolute;
    right: 0.5rem;

    height: 1rem;
    width: 1rem;
    line-height: 0.5;
    padding: 0;
}
.expander-button:focus,
.expander-button:active,
.expander-button:hover {
    box-shadow: none;
}
/* hides expander/hider button of legend on a small screens */
/*
@media (min-height: 670px) and (min-width: 880px) {
    .expander-button {
        visibility: hidden;
    }
}
*/

.map-legend .logo {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}
.map-legend .logo .logotype {
    font-size: 1.9rem;
    margin-bottom: -2px;
}
.map-legend .logo .cell {
    height: 12px;
    width: 12px;
}

@media(min-width:735px) {
    .map-legend {
        bottom: 3.5rem;
        right: 10px;

        min-width: 14rem;
        max-width: 14rem;
        max-height: 60%;

        border-radius: 4px;
        /* padding: 0.5rem 0rem 0.25rem; */
        border: 1px solid #fff;
        box-shadow: 0px 0px 1px 1px #222222;
    }
    .expander-button {
        bottom: 1.25rem;
    }
    .map-legend .style-select {
        padding: 0.5rem 0.25rem;
        font-size: 18px;
    }
}
@media(max-width:734px) {
    .map-legend {
        /* bottom: 0; */
        width: 100%;
        max-height: 30%;
        min-height: 3rem;
        max-height: min(50%, 10rem);
        position: relative;
        flex: 1 0 auto;
    }
    .map-legend .style-select {
        /* margin: 0.25rem 3rem 0.25rem 0.25rem; */
        margin: 0.25rem 0.25rem 0.25rem 0.25rem;
        padding: 0.5rem 0.25rem;
    }
    .expander-button {
        margin: 0.25rem;
        right: 0;
        height: 2.5rem;
        width: 2.5rem;
    }
    .leaflet-container {
        flex: 1 1 auto;
        min-height: 7rem;
    }
    
    .map-legend p {
        margin: 0.1rem 0 0.35rem;
        font-size: 0.8rem;
    }
    .data-legend .key {
        width: 1rem;
        height: 1rem;
    }
    .data-legend {
        line-height: 0.8rem;
        font-size: 0.8rem;

        display: flex;
        /* columns: 2; */
        column-gap: 0.5rem;
        flex-wrap: wrap;
        flex-direction: column;

        padding: 0 0.5rem 0 0.5rem;
    }
    /* .leaflet-control-attribution {
        left: 3.5rem;
        right: 3.5rem;
    } */
}
@media(max-width:333px) {
    .map-legend {
        min-height: 2.1rem;
        max-height: min(50%, 7rem);
    }
    .map-legend .style-select {
        padding: 0.05rem;
        /* margin: 0.25rem 2.15rem 0.25rem 0.25rem; */
        margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    }
    .expander-button {
        height: 1.6rem;
        width: 1.6rem;
    }
    /* .leaflet-control-attribution {
        left: 3rem;
        right: 3rem;
    } */
}
