.map-container {
    position: absolute;
    top: 76px; /* sync with header positioning */
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
}
@media (min-width: 990px) {
    .map-container {
        top: 0;
        left: 470px;
    }
}
.leaflet-container {
    height: 100%;
    width: 100%;
}

button.leaflet-control,
a.leaflet-control {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    text-indent: unset;
} */

.leaflet-container .leaflet-control-zoom {
    border: none;

    /* top: 0rem; */
    width: 2rem;

    flex-direction: column;
}
/* .leaflet-container .leaflet-control-zoom {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #222;
} */

.leaflet-touch .leaflet-bar a {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.leaflet-container .leaflet-control-attribution {
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.leaflet-grab {
    cursor: crosshair;
}
@media (min-width: 990px){
    /* Only show the "Click a building ..." notice for larger screens */
    .map-notice {
        display: block;
    }
}


/* CSS Styling for Geolocation Button */
.btn-geolocation {
    position: absolute;
    /* top: 0.7rem; */
    right: 2.7rem;
    z-index: 1000;

    width: 4rem;
    height: 4rem;

    /* min-width: 3.7rem;
    max-width: 3.7rem;

    min-height: 3.7rem;
    max-height: 3.7rem; */

    /* max-height: 60%; */

    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 2px;
    padding: 0.5rem 0rem 0.25rem;
    /* border: 1px solid #fff;
    box-shadow: 0px 0px 1px 1px #222222; */
    border: none;
}

.btn-geolocation-icon {

    width: 100%;
    height: 100%;
    /* max height for chrome/ edge browser */
    max-height: 2.8rem;
    object-fit: contain;

}

button.toggle-attribution,
button.toggle-legend {
    display: none;
    border: none !important;
}

@media(max-width:734px) {
    .leaflet-container .leaflet-control-attribution {
        background: rgba(255, 255, 255, 1.0);
        border-top: 1px solid #222;
    }
    .leaflet-container .leaflet-control-attribution.disabled {
        display: none;
    }
    button.toggle-attribution,
    button.toggle-legend {
        display: flex;
        padding: 0.25rem;
        z-index: 1002;
        /* border: 1px solid #fff !important;
        box-shadow: 0 0 1px 1px #222 !important; */
        /* border: none; */
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
    }
    /* button.toggle-attribution > svg,
    button.toggle-attribution > svg {
        width: 1.75em;
        height: 1.75em;
        vertical-align: -0.25em;
        vertical-align: middle;
    } */
    button.toggle-attribution > svg,
    button.toggle-legend > svg {
        width: unset !important;
        height: unset;
        vertical-align: middle;
        pointer-events: none;
        max-height: 1.5rem;
    }
    .leaflet-top,
    .leaflet-bottom {
        z-index: 1001;
    }

    .btn-geolocation {
        top: 0rem;
        right: 0rem;
        /* width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem; */
        padding: 0.25rem 0rem 0.25rem;        
    }

    .leaflet-container .leaflet-control-zoom {
        top: 3rem;
        width: 2.5rem;
    }
    button.leaflet-control,
    .leaflet-touch .leaflet-bar a,
    .leaflet-touch .leaflet-bar a:first-child,
    .leaflet-touch .leaflet-bar a:last-child {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 1.25rem;
        margin-bottom: 0.5rem;
        opacity: 75%;
    }
    .leaflet-top .leaflet-control {
        margin-top: 0.5rem;
    }
    .leaflet-right .leaflet-control {
        margin-right: 0.5rem;
    }
    .leaflet-left .leaflet-control {
        margin-left: 0.5rem;
    }
    .leaflet-bottom .leaflet-control {
        margin-bottom: 0.5rem;
    }

    .leaflet-top .leaflet-control-attribution.leaflet-control {
        margin-top: 0rem;
    }
    .leaflet-right .leaflet-control-attribution.leaflet-control {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
    .leaflet-left .leaflet-control-attribution.leaflet-control {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
    .leaflet-bottom .leaflet-control-attribution.leaflet-control {
        margin-bottom: 0rem;
    }
    .leaflet-container .leaflet-control-attribution {
        width: auto;
    }

    /* .btn-geolocation,
    button.toggle-attribution,
    button.toggle-attribution,
    .leaflet-container .leaflet-control-zoom { */
    /* button.leaflet-control,
    a.leaflet-control,
    .leaflet-control a {
        opacity: 80%;
    } */
    /* button.toggle-attribution {
        opacity: 40%;
    }
    button.leaflet-control:hover,
    a.leaflet-control:hover {
        opacity: 90%;
    } */

    .map-container {
        order: 2;
        /* position: unset; */
        position: static;
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:333px) {
    .map-container {
        top: 49px;
    }
    button.toggle-attribution,
    button.toggle-legend {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
    /* .btn-geolocation {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    } */
    .leaflet-container .leaflet-control-zoom {
        top: 2.5rem;
        width: 2rem;
    }
    button.leaflet-control,
    .leaflet-touch .leaflet-bar a,
    .leaflet-touch .leaflet-bar a:first-child,
    .leaflet-touch .leaflet-bar a:last-child {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 1rem;
    }

    .leaflet-right .leaflet-control-attribution.leaflet-control {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .leaflet-left .leaflet-control-attribution.leaflet-control {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}