.map-container {
    position: absolute;
    top: 76px; /* sync with header positioning */
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
}
@media (min-width: 990px) {
    .map-container {
        top: 0;
        left: 470px;
    }
}
.leaflet-container {
    height: 100%;
    width: 100%;
}
.leaflet-container .leaflet-control-zoom {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #222;
}
.leaflet-container .leaflet-control-attribution {
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.leaflet-grab {
    cursor: crosshair;
}
@media (min-width: 990px){
    /* Only show the "Click a building ..." notice for larger screens */
    .map-notice {
        display: block;
    }
}


/* CSS Styling for Geolocation Button */
.btn-geolocation {
    position: absolute;
    top: 0.7rem;
    right: 60px;
    z-index: 1000;

    min-width: 3.7rem;
    max-width: 3.7rem;

    min-height: 3.7rem;
    max-height: 3.7rem;

    /* max-height: 60%; */

    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 4px;
    padding: 0.5rem 0rem 0.25rem;
    border: 1px solid #fff;
    box-shadow: 0px 0px 1px 1px #222222;
}

.btn-geolocation-icon {

    width: 100%;
    height: 100%;
    /* max height for chrome/ edge browser */
    max-height: 2.8rem;
    object-fit: contain;

}